.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.form {
    padding: 1em 0;
}

.todos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.todo {
    display: flex;
    gap: 1em;
}

.complete {
    text-decoration: line-through;
}
